/* Barra de herramientas del usuario */

div#user_bar {
    background-color: #232323;
    position: sticky;
    top: 0;
    height: 30px;
    width: 100%;
    color: white;
    z-index: 9;
}

div#bienvenida {
    padding-left: 0.5rem;
    float: left;
}
div#bienvenida::after {
    clear: both;
    content: '';
}

div#user_options {
    float: right;
    height: 100%;
}
div#user_options::after {
    clear: both;
    content: '';
}

div#user_options ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

div#user_options ul li {
    padding-right: 0.5rem;
}

div#user_options ul li a {
    color: white;
}

/*** Admin bar ***/

p#adminbar {
    padding-right: 1rem;
}

p#adminbar a {
    color: white;
}


/***** Contenido principal *****/

div#main {
    margin: 0 10%;
}

/*** Login error ***/

div#login_error {
    margin-bottom: 0;
}

/***** NAVBAR *****/

div#navbar {
    background-color: #005594;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 4rem;
    width: 100%;
}

p#title {
    color: white;
    font-size: 2rem;
    margin: 0;
    padding-left: 1rem;
}

form#login_form {
    padding-right: 1rem;
}



/***** FOOTER *****/

footer#footer {
    background-color: #005594;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2.5rem 0;
    margin-top: 4rem;
}

footer#footer div#social {
    font-size: 2rem;
}


/***** Ofertas *****/

div.offer {
    /* henlo */
}