/***** BARRA DE HERRAMIENTAS DEL USUARIO *****/

div#user_bar {
    background-color: #232323;
    position: sticky;
    top: 0;
    height: 30px;
    width: 100%;
    color: white;
    z-index: 9;
}

/* Bienvenido, $nombre */
div#bienvenida {
    padding-left: 0.5rem;
    float: left;
}
div#bienvenida::after {
    clear: both;
    content: '';
}

/* Opciones (Perfil, cerrar sesión...) */
div#user_options {
    float: right;
    height: 100%;
}
div#user_options::after {
    clear: both;
    content: '';
}
div#user_options ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}
div#user_options ul li {
    padding-right: 0.5rem;
}
div#user_options ul li a {
    color: white;
}


/***** ADMIN BAR *****/

p#adminbar {
    padding-right: 1rem;
}
p#adminbar a {
    color: white;
}


/***** Contenido principal *****/

body {
    background-color: #f1f1f1 !important;
}
div#main {
    margin: 0 10%;
}



/***** NAVBAR *****/

/* General */
div#navbar {
    background-color: #005594;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 4rem;
    width: 100%;
}

/* Logo principal */
p#title {
    color: white;
    font-size: 2rem;
    margin: 0;
    padding-left: 1rem;
}

/* Registro (botón de la cabecera) */
span#register {
    color: white;
    padding: 1rem;
}
span#register a {
    color: white;
    font-weight: bold;
}

/* Login form */
form#login_form {
    margin: 0;
    padding-right: 1rem;
}

/* Inputs */
form#login_form input {
    padding: 0;
}

/* Login error */
div#login_error {
    margin-bottom: 0;
    font-size: 1rem;
}
div#login_error p {
    float: left;
    color: #721c24;
    font-weight: bold;
    font-size: 0.85rem;
    border: 2px solid #721c24;
    border-radius: 100%;
    padding: 0rem 0.5rem;
    margin-bottom: 0;
    margin-right: 0.5rem;
}
div#login_error p::after {
    clear: both;
    content: "";
}


/***** REGISTRO (vista) *****/

div#register_content {
    text-align: center;
}
div#register_content h2 {
    margin-bottom: 2rem;
}

div#register_options {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 30rem;
}

/* Textos */
div#register_options div p {
    font-size: 2em;
    text-align: center;
    color: white;
    padding: 1.5rem;
}

/* Trabajador / Empresario */
div#reg_opt_trabajador {
    background-image: url('images/trabajador.png');
}
div#reg_opt_empresario {
    background-image: url('images/empresario.png');
}
div#reg_opt_trabajador, div#reg_opt_empresario {
    width: 50%;
    height: 100%;
    background-color: #005594;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    transition: background-color 0.1s, width 0.5s ease-in-out;
    border: 1px solid #f1f1f1;
}

div#reg_opt_trabajador:hover {
    background-color: #0b90f2;
    cursor: pointer;
}
div#reg_opt_empresario:hover {
    background-color: #0b90f2;
    cursor: pointer;
}

/* Formularios */

form#reg_opt_trabajador_form, form#reg_opt_empresario_form {
    color: white;
    display: none;
}


/***** FOOTER *****/

footer#footer {
    background-color: #005594;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2.5rem 0;
    margin-top: 4rem;
}
footer#footer div#social {
    font-size: 2rem;
}


/***** OFERTAS *****/

/* General */
div.offer {
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 5rem;
    border-top: 2px solid #ebe8e8;
    border-bottom: 2px solid #ebe8e8;
}
div.offer:hover {
    background-color:#f2f5f9;
}

/* Logo */
div.offer img.company_logo {
    float: right;
    max-height: 5rem;
    max-width: 15rem;
}
div.offer img.company_logo::after {
    clear: both;
    content: ' ';
}

/* Título */
div.offer p.offer_title {
    font-size: 1.5rem;
    color: #0b90f2;
    font-weight: 600;
}

/* Características */
div.offer div.offer_tags {
    display: flex;
    flex-flow: row nowrap;
    color: #999;
    font-size: 1.2rem;
}
div.offer div.offer_tags p {
    margin-right: 0.5rem;
}
div.offer div.offer_description {
    color: #555;
}
div.offer div.offer_description p {
    margin-bottom: 0;
}